@charset 'utf-8';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: #efefef;
}

.hidden{
  position: absolute;
  text-indent: -99999px;
  overflow: hidden;
}

fieldset{
  border: 0;
}

table,th,td{
  border-collapse: collapse;
}
