.scrollNavi{
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 5;

  li{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #111;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    
    &.on{
      height: 100px;
      background-color: #111;
    }
  }
}