#vids{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, royalblue, cornflowerblue);
  position: relative;

  .swiper{
    height: 100%;
    padding: 20vh 20px;

    .swiper-slide{
      width: 540px;
      display: flex;
      justify-content: center;
      font: bold 50px/1 'arial';
      color: #666;

      .inner{
        width: 100%;
        height: 100%;
        padding: 30px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.5;
        transform: scale(0.8);
        transition: 0.5s;

        .pic{
          width: 100%;
          height: 300px;
          overflow: hidden;
          margin-bottom: 20px;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .txt{
          h3{
            font: normal 40px/1 'Work Sans';
            color: #333;
          }
        }
      }

      &.swiper-slide-active{
        .inner{
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .swiper-pagination{
      bottom: 40px;
      z-index: 5;
      filter: grayscale(1) brightness(4);

      .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border-radius: 4px;
        transition: 0.5s;
      }
      .swiper-pagination-bullet-active{
        width: 80px;
      }
    }

    .swiper-button-prev,.swiper-button-next{
      top: auto;
      bottom: 30px;
      z-index: 6;
      transform: scale(0.5);
      filter: grayscale(1) brightness(4);
    }

    .swiper-button-prev{
      left: auto;
      right: 60px;
    }
    .swiper-button-next{
      right: 30px;
    }
  }
  
}

@media screen and (max-width: $mobile) {
  #vids{
    .swiper{
      .swiper-slide{
        width: 100%;
      }
    }
  }
}