.community{
  >.inner{
    .inputBox{
      width: 100%;
      border: 1px solid #bbb;
      padding: 50px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input[type=text],textarea{
        width: 50%;
        padding: 8px 10px;
        border: 1px solid #aaa;
        resize: none;
        font-family: inherit;
      }

      .btnSet{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button{
          width: 80px;
          padding: 8px 10px;
          background-color: #555;
          border: 1px solid #555;
          color: #fff;
          cursor: pointer;
        }
      }
    }
    
    .listBox{
      width: 100%;
      border: 1px solid #bbb;
      padding: 50px;
      display: flex;
      flex-direction: column;

      article{
        background-color: #fff;
        padding: 30px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px;

        button{
          margin: 3px;
          padding: 5px;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          border: none;
        }

        .editTxt{
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;

          input[type=text],textarea{
            width: 100%;
            padding: 8px 10px;
            border: 1px solid #aaa;
            resize: none;
            font-family: inherit;
          }
        }

        .editBtnSet{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          button{
            width: 100%;

            &:nth-of-type(1){
              background-color: lightgray;
            }
            &:nth-of-type(2){
              background-color: gray;
            }
          }
        }

        .txt{
          flex: 1;
        }

        .btnSet{
          display: flex;
          align-items: center;

          button{
            &:nth-of-type(1){
              background-color: gray;
            }
            &:nth-of-type(2){
              background-color: lightgray;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .community{
    >.inner{
      .inputBox{
        input[type=text],
        textarea{
          width: 100%;
        }
        .btnSet{
          width: 100%;

          button{
            width: 50%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: $mobile) {
  .community{
    >.inner{
      padding: 0 20px;

      .inputBox{
        border: 0;
        padding: 0;

        input[type=text],
        textarea{
          width: 100%;
        }
        .btnSet{
          width: 100%;
          
          button{
            width: 50%;
          }
        }
      }
      .listBox{
        border: 0;
        padding: 0;

        article{
          padding: 40px 20px;
          margin-bottom: 20px;
          border: 1px solid #aaa;
          
          .btnSet{
            flex-direction: column;
            align-items: stretch;
          }
        }
      }
    }
  }
}