.gallery{
  .loading{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    transform: translate(-50%);
  }

  .frame{
    opacity: 0;
    transform: translateY(200px);
    transition: 0.5s;

    &.on{
      opacity: 1;
      transform: translateY(0);
    }

    &::after{
      content: '';
      display: block;
      clear: both;
    }

    article{
      width: 25%;
      padding: 10px;
      float: left;

      .inner{
        width: 100%;
        padding: 10px;
        background-color: #fff;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.03);

        .pic{
          width: 100%;
          margin-bottom: 5px;

          img{
            width: 100%;
          }
        }

        h2{
          font: normal 14px/1.2 'arial';
          color: #777;
          margin-bottom: 30px;
        }

        .profile{
          display: flex;
          align-items: center;

          img{
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }

          span{
            color: orange;
            cursor: pointer;
            font-size: 12px;
            transition: 0.5s;
            word-wrap: break-word;

            &:hover{
              color: orangered;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .noData{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
      padding: 10px;
      display: flex;
      gap: 20px;

      button{
        border: 0;
        width: 130px;
        height: 30px;
        background-color: #555;
        font: 11px/30px 'arial';
        text-align: center;
        color: #fff;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.03);
      }
    }

    .searchBox{
      padding: 10px;
      font-size: 0;
      display: flex;
      
      input{
        width: 200px;
        height: 30px;
        padding: 3px 5px;
        border: 1px solid #555;
        font: 12px/30px 'arial';
      }

      button{
        border: none;
        width: 80px;
        height: 30px;
        background-color: #555;
        font: 12px/30px 'arial';
        text-align: center;
        color: #fff;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.03);
      }
    }
  }
}