.member{
  figure{
    background-color: lightgreen;
  }

  >.inner{

    table{
      width: 100%;
      border: 0;
      border-top: 2px solid #333;
      border-bottom: 1px solid #333;

      th{
        width: 20%;
        border: 0;
        border-bottom: 1px solid #bbb;
        padding: 15px 30px;
        text-align: left;

        &:last-of-type{
          text-align: center;
        }

        button[type=reset],
        button[type=submit]{
          width: 150px;
          height: 30px;
          border: 1px solid #aaa;
          display: inline-block;
          justify-content: center;
          align-items: center;
          margin: 0 10px;
          cursor: pointer;
        }
      }

      td{
        border: 0;
        border-bottom: 1px solid #bbb;
        border-left: 1px solid #bbb;
        padding: 15px 30px;

        input[type=text],
        input[type=password]{
          width: 40%;
          border: 1px solid #aaa;
          padding: 6px 10px;
        }

        label{
          margin-right: 6px;
        }

        input[type=radio],
        input[type=checkbox]{
          margin-right: 20px;
        }

        .err{
          font: 12px/1 'arial';
          color: red;
          margin-left: 10px;
        }
      }
    }
  }
}